layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    pane split_direction="vertical" {
        pane command="nvim"
        pane {
            pane edit="Cargo.toml"
            pane stacked=true {
                pane size="10%" command="bash" name="COMPILE AND RELOAD PLUGIN" {
                    args "-c" "cargo build && zellij action start-or-reload-plugin file:target/wasm32-wasi/debug/zellij_forgot.wasm"
                    // if you have "watchexec" installed, you can comment the above line and uncomment the below one to build + reload the plugin on fs changes
                    // args "-c" "watchexec 'cargo build && zellij action start-or-reload-plugin file:target/wasm32-wasi/debug/rust-plugin-example.wasm'"
                }
                pane name="zellij_forgot" {
                    plugin location="file:target/wasm32-wasi/debug/zellij_forgot.wasm" {
            "LOAD_ZELLIJ_BINDINGS" "false"
            "buy eggs" "5x"
            "learn rust" "5h"
            "clean up code" "tomorrow"
            floating true
                   }
                }
            }
        }
    }
}
